body {
  background-color: black;
  --square-dimension: 45px;
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;

  font-family: Arial, Helvetica, Verdana, sans-serif;
}

main {
  display: flex;
}

#sudoku-grid {
  flex: 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}

#game-controls {
  flex: 1;
}

.big-square,
.small-square {
  background-color: white;
}

.big-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  border: 2px solid black;
}

.small-square {
  height: var(--square-dimension);
  width: var(--square-dimension);
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
