body {
  background-color: black;
  --square-dimension: 45px;
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;

  font-family: Arial, Helvetica, Verdana, sans-serif;
}

main {
  display: flex;
  gap: 10;
}

#sudoku-grid {
  flex: 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}

#game-controls {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-square,
.small-square {
  background-color: white;
}

.big-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  border: 2px solid black;
}

.small-square {
  height: var(--square-dimension);
  width: var(--square-dimension);
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.difficulty-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

.difficulty-button:hover {
  background-color: #45a049;
}
